# Today's agenda

- Comprehensions
- Passing functions as arguments
- (Maybe modules/packages... but probably start of next time)

GitHub mirror is at: 
    
https://github.com/reuven/apple-2020-oct

http://files.lerner.co.il/advanced-exercise-files.zip

In [1]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
output = []
for one_number in numbers:
    output.append(one_number ** 2)
    
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# list comprehension -- create a list based on an interable

[one_number ** 2 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
[one_number ** 2                # expression -- SELECT 
 for one_number in numbers]     # iteration -- FROM

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
mylist = ['abcd', 'efgh', 'ijkl']

'*'.join(mylist)

'abcd*efgh*ijkl'

In [7]:
mylist = [10, 20, 30]

'*'.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [8]:
[str(one_item)
for one_item in mylist]

['10', '20', '30']

In [9]:
'*'.join([str(one_item)
          for one_item in mylist])

'10*20*30'

In [10]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [11]:
a = np.array([10, 20, 30])

In [12]:
def double(n):
    return n * 2

double(a)

array([20, 40, 60])

# Exercises: Comprehensions

1. Ask the user to enter a sentence (or any text). How long is the text, excluding whitespace?

```
    Example:
    
    this is a test
    11 non-whitespace characters
```
    
2. Ask the user to enter integers, separated by whitespace. Sum each of those numbers.

```
    Example:
    
    Enter numbers: 10 20 30
    60 
```

In [13]:
s = input("Enter a sentence: ")

Enter a sentence: this is a test

In [14]:
len(s)

14

In [15]:
s.replace(' ', '')

'thisisatest'

In [16]:
len(s.replace(' ', ''))

11

In [18]:
sum(word_lengths_in_s)

NameError: name 'word_lengths_in_s' is not defined

In [19]:
[one_word
 for one_word in s.split()]

['this', 'is', 'a', 'test']

In [20]:
[len(one_word)
 for one_word in s.split()]

[4, 2, 1, 4]

In [21]:
sum([len(one_word)
    for one_word in s.split()])

11

In [22]:
s = input("Enter numbers, separated by whitespace: ")

Enter numbers, separated by whitespace: 10 20 30

In [23]:
s

'10 20 30'

In [25]:
[int(one_item)
for one_item in s.split()]

[10, 20, 30]

In [26]:
sum([int(one_item)
     for one_item in s.split()])

60